*~
.DS_Stor*
.gitignore~
*.bak
*.build
*.cache
*.cmake
*.db
*.dep
*.depend
*.dmg
*.exe
*.ipch
*.layout
*.lnk
*.LSOverride
*.mode1v3
*.ncb
*.opensdf
*.orig
*.pbxbtree
*.pbxsymbols
*.pbxuser
*.pkg
*.sdf
*.suo
*.vcproj.*
*.vcxproj.user
*.xcschememanagement.plist
*.xcworkspace
*.zip
*.tar.gz
*/*/gui/*
*xcuserdata*
*/*/CMakeFiles/
*/*/CMakeScripts/
IPlugExamples/IPlugEEL/libEEL/build/
/WDL/IPlug/doc/html
/WorkProjects/
AAX_SDK/*
ASIO_SDK/*
bin/*
build-*
CA_SDK/*
CMakeCache*
CMakeFiles/*
CMakeScripts/*
Icon?
IPlugExamples/build_errors.log
IPlugProjects/
lib/*
PCH/*
Project.*
Projects/*
PT9_SDK/*
VST_SDK/*
VST3_SDK/*
*.makeDebug
*.makeMinSizeRel
*.makeRelWithDebInfo
*.makeRelease
*.vcxproj
*.filters
WDL/*/*.dir/
IPlugExamples/*/*.dir/
*/*/Debug/
WDL0/
*/CMakeFiles/
*/Debug/
.svn
*.tmp
!CMakeLists.txt
!readme.txt