*~
.DS_Stor*
.gitignore~
*.bak
*.build
*.cache
*.cmake
*.db
*.dep
*.depend
*.dmg
*.exe
*.ipch
*.layout
*.lnk
*.LSOverride
*.mode1v3
*.ncb
*.opensdf
*.orig
*.pbxbtree
*.pbxsymbols
*.pbxuser
*.pkg
*.sdf
*.suo
*.vcproj.*
*.vcxproj.user
*.xcschememanagement.plist
*.xcworkspace
*.zip
*/*/gui/*
*xcuserdata*
IPlugExamples/IPlugEEL/libEEL/build/
/WDL/IPlug/doc/
/WorkProjects/
AAX_SDK/*
ASIO_SDK/*
bin/*
build-*
CA_SDK/*
CMakeCache*
CMakeFiles/*
CMakeScripts/*
Icon?
IPlugExamples/build_errors.log
IPlugProjects/
lib/*
PCH/*
Project.*
Projects/*
PT9_SDK/*
VST_SDK/*
VST3_SDK/*


*.makeDebug

*.makeMinSizeRel

*.makeRelWithDebInfo

*.makeRelease
*.vcxproj
IPlugExamples/CMakeFiles/generate.stamp
*.filters
WDL/*/*.dir/
IPlugExamples/*/*.dir/
WDL/*/Debug/
WDL0/
WDL/CMakeFiles/
WDL/IPlug/CMakeFiles/generate.stamp
WDL/*/CMakeFiles/
Win32/Debug/
IPlugExamples/*/CMakeFiles/
