*~
.DS_Stor*
.gitignore~
*.bak
*.build
*.cache
*.cmake
*.db
*.dep
*.depend
*.dmg
*.exe
*.ipch
*.layout
*.lnk
*.LSOverride
*.mode1v3
*.ncb
*.opensdf
*.orig
*.pbxbtree
*.pbxsymbols
*.pbxuser
*.pkg
*.sdf
*.suo
*.vcproj.*
*.vcxproj.user
*.xcschememanagement.plist
*.xcworkspace
*.zip
*.tar.gz
*/*/gui/*
*xcuserdata*
*/*/CMakeFiles/
*/*/CMakeScripts/
IPlugExamples/IPlugEEL/libEEL/build/
/WDL/IPlug/doc/html
/WorkProjects/
AAX_SDK/*
ASIO_SDK/*
bin/*
build-*
CA_SDK/*
CMakeCache*
CMakeFiles/*
CMakeScripts/*
Icon?
IPlugExamples/build_errors.log
IPlugProjects/
lib/*
PCH/*
Project.*
Projects/*
PT9_SDK/*
VST_SDK/*
VST3_SDK/*
*.makeDebug
*.makeMinSizeRel
*.makeRelWithDebInfo
*.makeRelease
*.vcxproj
*.filters
WDL/*/*.dir/
IPlugExamples/*/*.dir/
*/*/Debug/
WDL0/
*/CMakeFiles/
*/Debug/
.svn
*.tmp
!CMakeLists.txt
!readme.txt
IPlugExamples/IPlugChunks/IPlugChunks.sln
IPlugExamples/IPlugControls/IPlugControls.sln
IPlugExamples/IPlugConvoEngine/IPlugConvoEngine.sln
IPlugExamples/IPlugDistortion/IPlugDistortion.sln
IPlugExamples/IPlugEEL/IPlugEEL.sln
IPlugExamples/IPlugEffect/IPlugEffect.sln
IPlugExamples/IPlugGUIResize/IPlugGUIResize.sln
IPlugExamples/IPlugHostDetect/IPlugHostDetect.sln
IPlugExamples/IPlugMonoSynth/IPlugMonoSynth.sln
IPlugExamples/IPlugMouseTest/IPlugMouseTest.sln
IPlugExamples/IPlugMultiChannel/IPlugMultiChannel.sln
IPlugExamples/IPlugMultiTargets/IPlugMultiTargets.sln
IPlugExamples/IPlugOpenGL/IPlugOpenGL.sln
IPlugExamples/IPlugPlush/IPlugPlush.sln
IPlugExamples/IPlugPolySynth/IPlugPolySynth.sln
IPlugExamples/IPlugResampler/IPlugResampler.sln
IPlugExamples/IPlugSideChain/IPlugSideChain.sln
IPlugExamples/IPlugText/IPlugText.sln
contribs/*/*.dir
